header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

nav {

}

aside {
    background-color: #eee;
    padding: 20px;
    margin-right: 20px;
}
main {
    background-color: #fff;
    padding: 20px;
}

article {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}
section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}
footer {
    background-color: #eee;
    padding: 20px;
    text-align: center;